# Django Settings
SECRET_KEY=tu-clave-secreta-aqui-cambiar-en-produccion
DEBUG=False
ALLOWED_HOSTS=seguridadtesis.azurewebsites.net,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://seguridadtesis.azurewebsites.net

# Database Configuration (SQL Server en Azure)
DB_ENGINE=mssql
DB_NAME=pruebita_infraccion
DB_USER=adminsa@pruebaazure13
DB_PASSWORD=admin2004A$
DB_HOST=pruebaazure13.database.windows.net
DB_PORT=1433

# Azure Configuration
AZURE_STORAGE_ACCOUNT_NAME=tu-storage-account
AZURE_STORAGE_ACCOUNT_KEY=tu-storage-key
